@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalam&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&display=swap');
:root {
    --body-font: 'Poppins', sans-serif;
    --quote-font: 'Kalam', cursive;
    --quote-author-font: 'Alex Brush', cursive;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
::selection {
    background: #2b0db1;
    color: #FFF;
}
html {
    height: 100%;
}
body {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.466)), url(pic.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.container {
    background: none;
    width: 550px;
    padding: 30px 30px 25px;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 27%;
    transform: translate(-50%, -50%);
}
.container header {
    color: #FFF;
    text-align: center;
    font-size: 1.7rem;
    font-weight: 500;
    font-family: var(--body-font);
}
.container .content {
    margin: 35px 0;
}
.content .quote__content {
    display: flex;
    justify-content: center;
    color: #FFF;
}
.quote__content .quote {
    font-size: 1.8rem;
    line-height: 40px;
    text-align: center;
    user-select: all;
    font-family: var(--quote-font);
}
.content .author {
    display: flex;
    font-size: 1.5rem;
    margin-top: 20px;
    font-style: italic;
    justify-content: flex-end;
}
.author a:first-child {
    margin: 11px 5px 0 0;
    text-decoration: none;
    font-family: var(--quote-author-font);
    color: #FFF;
}
.container .buttons {
    border-top: 1px solid #FFF;
    margin: 20px 0;
}
.buttons .features {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.buttons button {
    position: relative;
    background-color: rgb(41, 7, 165);
    color: #FFF;
    padding: 12px 36px;
    border-radius: 40px;
    font-size: 1rem;
    border: none;
    outline: none;
    cursor: pointer;
    transition: all .5s ease;
    font-family: var(--body-font);
    user-select: none;
    --border-size: 2px;
}
.buttons button::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: -1;
    border-radius: 40px;
    border: var(--border-size) solid rgb(41, 7, 165);
    transition: top, bottom, right, left, 100ms ease-in-out;
}
.buttons button:hover::before {
    top: calc(var(--border-size) * -2);
    bottom: calc(var(--border-size) * -2);
    right: calc(var(--border-size) * -2);
    left: calc(var(--border-size) * -2);
}
.buttons .copy.active:focus::before {
    top: calc(var(--border-size) * -2);
    bottom: calc(var(--border-size) * -2);
    right: calc(var(--border-size) * -2);
    left: calc(var(--border-size) * -2);
}
@media (max-width: 940px) {
    body {
        background-position: right;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .container {
        width: 70vw;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .container header {
        font-size: 4.2vw;
    }
    .quote__content .quote {
        font-size: 3.6vw;
        text-align: center;
    }
    .content .author {
        justify-content: center;
    }
    .buttons .features {
        justify-content: center;
        flex-wrap: wrap-reverse;
        column-gap: 8rem;
        row-gap: 1rem;
    }
    .buttons button {
        font-size: .870rem;
    }
}