@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,600;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@600&display=swap');
:root {
    --body-font: 'Poppins', sans-serif;
    --qoute-font: 'Sansita Swashed', cursive;
    --container-color: #323232;
    --qoute-color: #F7F5F2;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--body-font);
}
body {
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
}